
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: #000000;
    opacity: 0.9;
    background-image:  radial-gradient(#5d00ff 2px, transparent 2px), radial-gradient(#5d00ff 2px, #000000 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;

    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --border-clr: #5d00ff;
}
:root {
    --bg-clr: #171717;
}

h1, h2, h3, p {
    color: white;
    text-align: center;
}

button {
    border-radius: 16px;
}

button:active {
    transform: translateY(1px);
}

/* section 1 styles below */

.section1__container {
    text-align: center;
    padding: 1rem;
}

.section1__element__container {
    height: 250px;
    width: 250px;
    border: 3px solid var(--border-clr);
    border-radius: 1rem;
    display: block;
    margin: auto auto;
}

.section1__item {
    width: 50px;
    border-radius: 16px;
    border: 2px solid var(--border-clr);

}

.section1__number {
    border: 2px solid var(--border-clr);
    background-color: var(--bg-clr);
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}

.section1__button__container{
    display: flex;
    justify-content: space-evenly;
}

.section1__button {
    border: 2px solid var(--border-clr);
    background-color: var(--bg-clr);
    margin-top: 5%;
    width: 25%;
    color: white;
}

