
*, *::after, *::before {box-sizing: border-box;}

body {margin: 0; padding: 0;}

img {max-width: 100%;}



/* utility classes */

.size--Increase:hover {
    transform: scale(1.15);

}


.hero__nav a:visited, .hero__nav a:active {
    color: white;
}


.size--Decrease:active {
    transform:scale(1.05);
}


.dropDown--slow {
    animation: dropDown 1.2s;
}


.fadeIn--normal {
    animation: fadeIn 1s ease-out;
}


.fadeIn--slow {
    animation: fadeIn 1.5s linear;
}



/* animations */

@keyframes dropDown {

    0% {transform: translateY(-4rem);}

    100% {transform: translateY(0);}
}


@keyframes fadeIn {

    0%{opacity: 0;}

    100%{opacity: 1;}

}


/* 
beginning of hero section 
*/

.hero {
    height: 100vh;

    padding-top: 24px;

    background-image: url(Images/Hero-Banner/Banner-Default.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width:1200px) {
    .hero{
        background-image: url(Images/Hero-Banner/Banner-1200w.jpg);
    }
}

@media (max-width: 700px) {
    .hero {
        height: 70vh;

        background-image: url(Images/Hero-Banner/Banner-800w.jpg);
    }
}


.hero__nav {
    display: flex;
    gap: 15%;
    justify-content: center;
}


.hero h1 {
    color: var(--clr1);
    text-align: center;
    text-shadow: 1px 1px 12px white;
}


.hero__button__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.hero__button__container button {
    border: 3px solid white;
    margin: auto auto;
    box-shadow: 2px 2px 12px;
    
    color: white;
    background-color: transparent;
}


/*
used media  queries to make background image responsive
and to have section 1 take entire viewport height on smaller screens
*/


@media(max-width: 1200px) {

    .section1 {
        height: 100vh;
        background-image: url(Images/Section1/Flavora_img1200w.jpg);
    }
}


@media(max-width: 800px) {

    .section1 {
        background-image: url(Images/Section1/Flavora_img800w.jpg);
    }

}


/* 
end of hero section
about section below
*/


.about {
    margin-bottom: 36px;
}


.about >* {
    text-align: center;
}


.about h1 {
    color: var(--clr1);
    font-style: italic;
}


.about p {
    width: 80%;
    margin: auto;
}


/* 
end of 'about' section
'gallery section below
*/


.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.gallery__image2 {
    grid-row: 2;
    grid-column: 2;
}


.gallery__hours, .gallery__extra {
    text-align: center;
    margin: auto auto;
    width: 80%;

    font-size: 44px;
}


@media (max-width: 1200px) {
    .gallery__hours, .gallery__extra{
        font-size: 24px;
    }
}


@media (max-width: 600px) {
    .gallery__hours, .gallery__extra{
        font-size: 12px;
    }
}


.gallery__hours h1, .gallery__extra h1 {
    margin: auto auto;
    width: 80%;

    color: var(--clr1);
    text-align: center;
    text-shadow: 1px 1px 1px var(--clr1);
    font-style: italic;
}


/* 
end of 'gallery' section
footer below
*/

footer {
    padding-left: 15px;

    background-color: black;

    color: white;
}


.footer__nav {
    display: flex;
    flex-direction: column;

    margin-top: 24px;
}

.footer__nav >*, .footer__nav >*:visited {
    margin: 2px 0;

    color: white;
}

footer hr{
    margin: 4px 0;
    width: 50%;

    color: white;
}

.footer__icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 250px;
}

.footer__icon {
    width: 64px;
    height: 64px;
    border-radius: 24px;

    background-image: url(Images/Footer-Sprite/icon-sprite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.footer__icon1 {
    background-position: 0 0;
}

.footer__icon2 {
    background-position: -64px 0;
}
.footer__icon3 {
    background-position: -128px 0;
}

.footer__icon4 {
    background-position: -192px 0;
}