

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Roboto", sans-serif;
}

header {
    margin: 0;
    
    text-align: center;
    font-size: 1.5rem;
}

:root {
    --theme-clr-1: #e9e9ed
}

:root {
    --theme-clr-2: #0a66c2
}

/* section 1 ("time") styles below */

.time__container {
    padding: 1.5rem;
    border: 4px solid var(--theme-clr-2);
    border-radius: 12px;
    margin-bottom: 2.5rem;

    text-align: center;

    background-color: var(--theme-clr-1);
}

.l-section1__buttons {
    display: flex;
    flex-direction: column;
    
    width: 95%;
    margin: 0 auto;
}

.time__button {
    border: none;
    padding: .75rem 0;

    background-color: white;
}

.time__button:focus {
    background-color: var(--theme-clr-2);

    color: white;
}

/* section 2 styles ("click") below */

.click__button {
    padding: 6rem;
    width: 100%;
    border: 6px solid var(--theme-clr-1);
    border-radius: 12px;

    background-color: white;
}

.l-click__stats {
    display: flex;
    justify-content: space-evenly;
}

