
*,
*::before,
*::after {box-sizing: border-box;}

body {
    margin: 0;
    font-family: "SUSE", sans-serif;
}


/* header styles begin here */

#header {
    font-size: 2rem;
    text-align: center;
}

#header >* {
    margin: 0;
}

#header h1 {
    padding: 6rem;
}

nav {
    overflow: hidden;
}

nav .tabLink {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: none;
}



/* header styles end here */