
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ccc;
}

hr {
    border: 0;
    border-bottom: 3px solid #ccc;
    margin: 20px 0 40px;
}

header, main{
    background-color: white;
    margin: 25px auto -10px;
    width: 80%;
    padding: 12px;
    border-radius: 16px;
}

header {
    background-color: white;
    text-align: center;
}

.l-input__money {
    margin: auto auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    width: 200px;
}

.input__money__slider {
    appearance: none;

    background: #ccc;
    height: 5px;
}

.l-input__odds {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 20px;
    justify-content: center;
}

.l-result {
    display: flex;
    justify-content: center;
    gap: 20%;
}
