@import url(animations.css);
/* base styles */
*,*::after,*::before{
    box-sizing:border-box;
    /* outline: 2px solid lime; */
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* header styles start here */

header {
    padding: 6rem 0;

    background-image: url(/lesserafim-discography/img/header-default.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
}

.header__heading {
    width: 60%;

    text-shadow: #000000 2px 6px 8px ;
}

/* 
header styles end here 
main styles start here
*/

.discography {
    margin-bottom: 200px;
}

.l-discography__tracklist-header {
    display: flex;
    gap: 1rem;
    align-items: center;

    margin-bottom: 0px;
}

.discography__tracklist-button {
    background-color: transparent;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
} /* Hover animation in animations file*/

.discography__ep {
    margin-bottom: 50px;
}

.ep__image {
    width: 316px;
    height: 316px;

    background-image: url(/lesserafim-discography/img/ep-sprite.png);
}
.ep__image--2 {
    background-position-x: 33.3%;
}
.ep__image--3 {
    background-position-x: 66.7%;
}
.ep__image--4 {
    background-position-x: 100%;
}


.discography__tracklist-list {
    display: none;
    
    margin-top: 0px;
}

.discography__tracklist-list.is-visible {
    display: block;
    
    -webkit-animation: fadeIn 600ms ease-in-out;
    -ms-animation: fadeIn 600ms ease-in-out;
}

.singles-list {
    margin-top: -1rem;
}

/* 
discography styles end here 
aside styles start here
*/

.artist {
    margin: 25px 0;
}

.l-artist {
    display: flex;
    align-items: center;
    gap: 10%;
}
.artist__image {
    border-radius: 50%;

    background-image: url(/lesserafim-discography/img/aside-sprite.png);
    background-size: cover;
    width: 175px;
    height: 175px;
}
.artist__image--2 {
    background-position-y: 50%;
}
.artist__image--3 {
    background-position-y: 100%;
}

.artist__link {
    color: black;
}
.artist__link:hover {
    color: red;
}