/* flex direction */
.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

/* align items */
.align-items-flex-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

/* justify content */
.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

/* align content */
.align-content-start {
  flex-wrap: wrap;
  align-content: flex-start;
}

.align-content-center {
  flex-wrap: wrap;
  align-content: center;
}

.align-content-end {
  flex-wrap: wrap;
  align-content: flex-end;
}

.align-content-stretch {
  flex-wrap: wrap;
  align-content: stretch;
}

.align-content-between {
  flex-wrap: wrap;
  align-content: space-between;
}

.align-content-around {
  flex-wrap: wrap;
  align-content: space-around;
}
