:root {
  --clr1: #cd7f32;
}

.font-IBM {
  font-family: "IBM Plex Mono", monospace;
}

.font-Titillium {
  font-family: "Titillium Web", sans-serif;
}

.font-size-2 {
  font-size: 24px;
}

.font-size-4 {
  font-size: 72px;
}
