@import url(theme.css);


*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Outfit", serif;
}

button {
    font-family: "Outfit", serif;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    background-color: var(--tan);
}

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    width: 150px;
}

.header-nav {
    width: 200px;
}

.header-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;

    list-style-type: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
}

.header-nav ul li a:hover {
    text-decoration: underline;
    color: var(--red);
}

.l-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
}

.intro-section {
    padding: 3rem 0 4rem;

    background: linear-gradient(180deg, var(--tan) 0%, var(--red) 100%); 
}

.intro__text {
    width: 40%;

    font-size: 2.5vw;
}

.intro__text button {
    border: 0;
    padding: 16px;
    border-radius: 12px;
    
    background: rgb(232,213,183);
    background: linear-gradient(90deg, rgba(232,213,183,1) 0%, rgba(252,58,82,1) 100%); 

    font-size: 24px;
}

.intro__img {
    width: 35vw;
}


.info-section {
    padding: 2rem 0 2rem;

    background: linear-gradient(180deg, var(--red)0%, var(--yellow) 100%); 
}

.info-header{
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 1200px) {
    .l-info-cards {
        display: flex;
        justify-content: space-between;
    }

    .info__card {
        width: 30%;

        border: 4px solid var(--tan);
        border-radius: 16px;

        background: linear-gradient(180deg, var(--red)0%, var(--yellow) 100%); 

        text-align: center;
    }
}

.info__card {
    font-size: 1.5rem;
}


.menu-section {
    padding: 1rem 0 1rem;
    
    background: rgb(249,178,72);
    background: linear-gradient(180deg, rgba(249,178,72,1) 0%, rgba(232,213,183,1) 100%); 
}

.menu__header {
    text-align: center;
}

.menu__header h1{
    font-size: 3rem;
}

.menu__header p {
    font-size: 1.5rem;
}

@media (min-width: 1000px) {
    .l-menu-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menu__card-border {
        display: none;
    }
}

.menu__card {
    margin: 25px auto;
    padding: 25px 0;

    width: 80%;

    text-align: center;
    font-size: 1.5rem;
}

.menu__card-border {
    border: 3px solid var(--red);
}

.menu__card img {
    max-width: 80%;

    border-radius: 16px;
    margin: auto auto;
}

.menu__card a {
    color: var(--red);
}